global:
  scrape_interval: 15s  # Scrape every 15 seconds

scrape_configs:
  - job_name: 'kafka'
    static_configs:
      - targets: ['kafka1:9991', 'kafka2:9992', 'kafka3:9993']

  - job_name: 'redis'
    static_configs:
      - targets: ['redis-node1:6379', 'redis-node2:6380', 'redis-node3:6381', 'redis-node4:6382', 'redis-node5:6383', 'redis-node6:6384']

  - job_name: 'cockroachdb'
    static_configs:
      - targets: ['cockroachdb1:8080', 'cockroachdb2:8081', 'cockroachdb3:8082']

  - job_name: 'node_exporter'
    static_configs:
      - targets: ['localhost:9100']